@{
    ViewData["Title"] = "지원 정보";
}

<div class="container" style="margin-top: 80px;">
    <label class="col-xs-12 control-label" style="font-weight:lighter; font-size:30px;margin-bottom:20px;">인문대학 공지사항 SSUNOIN</label>
    <p class="col-xs-12 control-label" style="font-weight:lighter; font-size:15px;margin-bottom:20px;">
        숭실대학교 인문대학 8개 학과의 공지사항 정보를 한눈에 볼 수 있는 어플리케이션입니다.<br/>
        안드로이드와 아이폰 버전이 출시되어 있으며 아이폰 버전은 김태인 (컴퓨터학부 14), 안드로이드 버전은 양기창 (소프트웨어학부 15)가 개발하였고 디자인은 김태인(컴퓨터학부 14)이 진행하였습니다.<br/>
        구글 플레이 스토어와 애플 앱 스토어를 통해 다운로드 받으세요!
    </p>

    <label class="col-xs-12 control-label" style="font-weight:lighter; font-size:30px;margin-bottom:20px;">숭실대 캠퍼스 맵 SSUMAP</label>
    <p class="col-xs-12 control-label" style="font-weight:lighter; font-size:15px;margin-bottom:20px;">
        숭실대학교 교내외 주변 시설정보를 볼 수 있는 캠퍼스 맵 어플리케이션입니다.<br/>
        카페/편의점, 매장, 자동심장 충격기, 은행, 병원 등 다양한 주변 시설이 어디에 위치에 있는지 궁금하시면 앱을 설치해보세요! <br/>
        현재 아이폰 어플리케이션 개발 진행중입니다. 안드로이드는 추후 개발을 시작할 예정입니다.<br/>
        개발 및 디자인 : 김태인 ( 컴퓨터학부 14 )
    </p>
</div>