@{
    ViewData["Title"] = "지원 정보";
}
<div class="container" style="margin-top: 80px;">
    <label class="col-xs-12 control-label" style="font-weight:lighter; font-size:30px;margin-bottom:20px;">인문대학 공지사항 SSUNOIN 지원 정보</label>
</div>